<a href="https://colab.research.google.com/github/asha8r/2015-Street-Tree-Census/blob/main/2015_Street_Tree_Census.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [81]:
street_tree = pd.read_csv('/content/drive/MyDrive/a2/2015_Street_Tree_Census_-_Tree_Data_20240110.csv')
street_tree.head()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,180683,348711,08/27/2015,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900,New York,40.723092,-73.844215,1027431.148,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,09/03/2015,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1034455.701,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,09/05/2015,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.717581,-73.936608,1001822.831,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,09/05/2015,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.713537,-73.934456,1002420.358,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,990913.775,182202.4260,39.0,165.0,3025654.0,3.010850e+09

In [82]:
street_tree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 45 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tree_id           683788 non-null  int64
 1   block_id          683788 non-null  int64
 2   created_at        683788 non-null  object
 3   tree_dbh          683788 non-null  int64
 4   stump_diam        683788 non-null  int64
 5   curb_loc          683788 non-null  object
 6   status            683788 non-null  object
 7   health            652172 non-null  object
 8   spc_latin         652169 non-null  object
 9   spc_common        652169 non-null  object
 10  steward           652173 non-null  object
 11  guards            652172 non-null  object
 12  sidewalk          652172 non-null  object
 13  user_type         683788 non-null  object
 14  problems          652124 non-null  object
 15  root_stone        683788 non-null  object
 16  root_grate        683788 non-null  object
 17  root_other        683788 non-null  object
 18  trunk_wire        683788 non-null  object
 19  trnk_light        683788 non-null  object
 20  trnk_other        683788 non-null  object
 21  brch_light        683788 non-null  object
 22  brch_shoe         683788 non-null  object
 23  brch_other        683788 non-null  object
 24  address           683788 non-null  object
 25  postcode          683788 non-null  int64
 26  zip_city          683788 non-null  object
 27  community board   683788 non-null  int64
 28  borocode          683788 non-null  int64
 29  borough           683788 non-null  object
 30  cncldist          683788 non-null  int64
 31  st_assem          683788 non-null  int64
 32  st_senate         683788 non-null  int64
 33  nta               683788 non-null  object
 34  nta_name          683788 non-null  object
 35  boro_ct           683788 non-null  int64
 36  state             683788 non-null  object
 37  latitude          683788 non-null  float64
 38  longitude         683788 non-null  float64
 39  x_sp              683788 non-null  float64
 40  y_sp              683788 non-null  float64
 41  council district  677269 non-null  float64
 42  census tract      677269 non-null  float64
 43  bin               674229 non-null  float64
 44  bbl               674229 non-null  float64
dtypes: float64(8), int64(11), object(26)
memory usage: 234.8+ MB

In [83]:
street_tree.describe(include= 'all')

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
count,683788.000000,683788.000000,683788,683788.000000,683788.000000,683788,683788,652172,652169,652169,...,6.837880e+05,683788,683788.000000,683788.000000,6.837880e+05,683788.000000,677269.000000,677269.000000,6.742290e+05,6.742290e+05
unique,NaN,NaN,483,NaN,NaN,2,3,3,132,132,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,10/27/2015,NaN,NaN,OnCurb,Alive,Good,Platanus x acerifolia,London planetree,...,NaN,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,6852,NaN,NaN,656896,652173,528850,87014,87014,...,NaN,683788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,365205.011085,313793.096236,NaN,11.279787,0.432463,NaN,NaN,NaN,NaN,NaN,...,3.404914e+06,NaN,40.701261,-73.924060,1.005280e+06,194798.424625,30.027330,11957.368422,3.495439e+06,3.413414e+09
std,208122.092902,114839.024312,NaN,8.723042,3.290241,NaN,NaN,NaN,NaN,NaN,...,1.175863e+06,NaN,0.090311,0.123583,3.428505e+04,32902.061114,14.301717,30745.739811,1.193275e+06,1.174892e+09
min,3.000000,100002.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,1.000201e+06,NaN,40.498466,-74.254965,9.133493e+05,120973.792200,1.000000,1.000000,1.000000e+06,0.000000e+00
25%,186582.750000,221556.000000,NaN,4.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,3.011700e+06,NaN,40.631928,-73.980500,9.896578e+05,169515.153700,19.000000,202.000000,3.031991e+06,3.011240e+09
50%,366214.500000,319967.000000,NaN,9.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,4.008100e+06,NaN,40.700612,-73.912911,1.008386e+06,194560.252500,30.000000,516.000000,4.020352e+06,4.008560e+09
75%,546170.250000,404624.000000,NaN,16.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,4.103202e+06,NaN,40.762228,-73.834910,1.029991e+06,217019.571950,43.000000,1417.000000,4.263123e+06,4.105700e+09
max,722694.000000,999999.000000,NaN,450.000000,140.000000,NaN,NaN,NaN,NaN,NaN,...,5.032300e+06,NaN,40.912918,-73.700488,1.067248e+06,271894.092100,51.000000,157903.000000,5.515124e+06,5.080500e+09

In [84]:
street_tree.shape

(683788, 45)

In [85]:
street_tree.columns

Index(['tree_id', 'block_id', 'created_at', 'tree_dbh', 'stump_diam',
       'curb_loc', 'status', 'health', 'spc_latin', 'spc_common', 'steward',
       'guards', 'sidewalk', 'user_type', 'problems', 'root_stone',
       'root_grate', 'root_other', 'trunk_wire', 'trnk_light', 'trnk_other',
       'brch_light', 'brch_shoe', 'brch_other', 'address', 'postcode',
       'zip_city', 'community board', 'borocode', 'borough', 'cncldist',
       'st_assem', 'st_senate', 'nta', 'nta_name', 'boro_ct', 'state',
       'latitude', 'longitude', 'x_sp', 'y_sp', 'council district',
       'census tract', 'bin', 'bbl'],
      dtype='object')

In [86]:
street_tree_subset =street_tree[['tree_id','created_at', 'tree_dbh',
       'curb_loc', 'status', 'health', 'spc_latin', 'spc_common', 'steward',
       'guards', 'sidewalk', 'problems',
       'borocode', 'borough',
       'latitude', 'longitude'
          ]]
street_tree_subset.head()

,tree_id,created_at,tree_dbh,curb_loc,status,health,spc_latin,spc_common,steward,guards,sidewalk,problems,borocode,borough,latitude,longitude
0,180683,08/27/2015,3,OnCurb,Alive,Fair,Acer rubrum,red maple,None,None,NoDamage,None,4,Queens,40.723092,-73.844215
1,200540,09/03/2015,21,OnCurb,Alive,Fair,Quercus palustris,pin oak,None,None,Damage,Stones,4,Queens,40.794111,-73.818679
2,204026,09/05/2015,3,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1or2,None,Damage,None,3,Brooklyn,40.717581,-73.936608
3,204337,09/05/2015,10,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,None,None,Damage,Stones,3,Brooklyn,40.713537,-73.934456
4,189565,08/30/2015,21,OnCurb,Alive,Good,Tilia americana,American linden,None,None,Damage,Stones,3,Brooklyn,40.666778,-73.975979

In [87]:
missing_values = street_tree_subset.isnull().sum()

missing_values

tree_id           0
created_at        0
tree_dbh          0
curb_loc          0
status            0
health        31616
spc_latin     31619
spc_common    31619
steward       31615
guards        31616
sidewalk      31616
problems      31664
borocode          0
borough           0
latitude          0
longitude         0
dtype: int64

In [88]:
duplicate_rows = street_tree_subset.duplicated().sum()
duplicate_rows

0

In [101]:
print(street_tree_subset['health'].value_counts(),'\n\n')
print(street_tree_subset['sidewalk'].value_counts(),'\n\n')
print(street_tree_subset['steward'].value_counts(),'\n\n')
print(street_tree_subset['guards'].value_counts(),'\n\n')

Good    560466
Fair     96504
Poor     26818
Name: health, dtype: int64


NoDamage    496594
Damage      187194
Name: sidewalk, dtype: int64


None       519438
1or2       143557
3or4        19183
4orMore      1610
Name: steward, dtype: int64


None       603922
Helpful     51866
Harmful     20252
Unsure       7748
Name: guards, dtype: int64

In [ ]:
street_tree_subset['health'].fillna('Good', inplace = True)
street_tree_subset['problems'].fillna('None', inplace = True)
street_tree_subset['spc_latin'].fillna('UnKnown', inplace = True)
street_tree_subset['sidewalk'].fillna('NoDamage', inplace = True)
street_tree_subset['steward'].fillna('None', inplace = True)
street_tree_subset['guards'].fillna('None', inplace = True)
street_tree_subset['spc_common'].fillna('Unknown', inplace = True)

In [92]:
missing_values = street_tree_subset.isnull().sum()
missing_values

tree_id       0
created_at    0
tree_dbh      0
curb_loc      0
status        0
health        0
spc_latin     0
spc_common    0
steward       0
guards        0
sidewalk      0
problems      0
borocode      0
borough       0
latitude      0
longitude     0
dtype: int64

In [93]:
street_tree_subset

,tree_id,created_at,tree_dbh,curb_loc,status,health,spc_latin,spc_common,steward,guards,sidewalk,problems,borocode,borough,latitude,longitude
0,180683,08/27/2015,3,OnCurb,Alive,Fair,Acer rubrum,red maple,None,None,NoDamage,None,4,Queens,40.723092,-73.844215
1,200540,09/03/2015,21,OnCurb,Alive,Fair,Quercus palustris,pin oak,None,None,Damage,Stones,4,Queens,40.794111,-73.818679
2,204026,09/05/2015,3,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1or2,None,Damage,None,3,Brooklyn,40.717581,-73.936608
3,204337,09/05/2015,10,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,None,None,Damage,Stones,3,Brooklyn,40.713537,-73.934456
4,189565,08/30/2015,21,OnCurb,Alive,Good,Tilia americana,American linden,None,None,Damage,Stones,3,Brooklyn,40.666778,-73.975979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,155433,08/18/2015,25,OnCurb,Alive,Good,Quercus palustris,pin oak,None,None,Damage,None,3,Brooklyn,40.713211,-73.954944
683784,183795,08/29/2015,7,OnCurb,Alive,Good,Cladrastis kentukea,Kentucky yellowwood,1or2,None,NoDamage,None,4,Queens,40.715194,-73.856650
683785,166161,08/22/2015,12,OnCurb,Alive,Good,Acer rubrum,red maple,None,None,Damage,None,5,Staten Island,40.620762,-74.136517
683786,184028,08/29/2015,9,OnCurb,Alive,Good,Acer rubrum,red maple,None,None,NoDamage,None,2,Bronx,40.850828,-73.903115
683787,200607,09/03/2015,23,OnCurb,Alive,Fair,Acer rubrum,red maple,None,None,NoDamage,None,4,Queens,40.732165,-73.787526